<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>市政项目</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">市政管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    系统管理员
                </a>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">框架合同</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">子项合同</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header">
                    合同
                </div>
                <div class="layui-card-body">
                    <form class="layui-form" action="" style="width: 80%">
                        <!--<div class="layui-form-item">
                            <label class="layui-form-label">项目名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="project_name" autocomplete="off" placeholder="请输入项目名称" class="layui-input">
                            </div>
                        </div>-->

                        <div class="layui-form-item">
                            <label class="layui-form-label">项目名称</label>
                            <div class="layui-input-block">
                                <select name="project_name" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0" selected="">市一路</option>
                                    <option value="1" >市二路</option>
                                    <option value="2">市三路</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="layui-form-item">
                            <label class="layui-form-label">项目类别</label>
                            <div class="layui-input-block">
                                <input type="text" name="project_type" autocomplete="off" placeholder="请输入项目类别" class="layui-input">
                            </div>
                        </div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">项目类别</label>
                            <div class="layui-input-block">
                                <select name="project_type" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="0" selected="">技术</option>
                                    <option value="1" >安置</option>
                                    <option value="2">其他</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">甲方</label>
                            <div class="layui-input-block">
                                <input type="text" name="part_a" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">乙方</label>
                            <div class="layui-input-block">
                                <input type="text" name="part_b" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">开始日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="start_date" id="start_date" lay-verify="date" placeholder="请输入开始日期" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">结束日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="end_date" id="end_date" lay-verify="date" placeholder="请输入结束日期" autocomplete="off" class="layui-input">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="cost" placeholder="请输入金额" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">项目描述</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入项目描述" class="layui-textarea"></textarea>
                            </div>
                        </div>

                        <div class="layui-col-md12" style="margin: 10px">
                            <label class="layui-form-label"></label>
                            <label class="layui-form-inline">拟定人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="created_person" lay-verify="created_person" autocomplete="off" placeholder="拟定人" class="layui-input">
                            </div>
                            <label class="layui-form-inline">核对人</label>
                            <div class="layui-input-inline">
                                <input type="text" name="checked_person" lay-verify="checked_person" autocomplete="off" placeholder="核对人" class="layui-input">
                            </div>
                            <label class="layui-form-inline">签订日期</label>
                            <div class="layui-input-inline">
                                <input type="text" name="sign_date" lay-verify="sign_date" autocomplete="off" placeholder="签订日期" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item" style="text-align: center;">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1" >提交</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>



    <div class="layui-form-item">
        <button class="layui-btn" lay-submit="" lay-filter="demo1">跳转式提交</button>
    </div>
</form>
<script src="/layui/layui.js"></script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //监听提交
        form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //日期
        laydate.render({
            elem: '#start_date'
        });
        laydate.render({
            elem: '#end_date'
        });


    });
</script>
</body>
</html>