<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>市政项目</title>
    <link rel="stylesheet" href="/layui/css/layui.css">

    <style type="text/css">
        .expand_title {
            width: 150px
        }

        .layui-inline .layui-input-inline {
            width: 300px
        }

        .layui-inline .layui-form-label {
            width: 90px
        }

    </style>
</head>




<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">市政管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    系统管理员
                </a>
            </li>
            <li class="layui-nav-item"><a href="">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">框架合同</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">子项合同</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="padding: 0 150px">
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-header" style="text-align: center; font-size: 20px;">
                    杭州市城市建设前期办公室合同、协议会签单
                </div>
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <!--<div class="layui-form-item">
                            <label class="layui-form-label">项目名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="project_name" autocomplete="off" placeholder="请输入项目名称" class="layui-input">
                            </div>
                        </div>-->

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">领导签发</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="leader_sign" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width: 100px;">综合处核稿意见</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="synthesize_advice" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">领导会签</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="leader_countersign" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label expand_title">会签部门意见</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="countersign_advice" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label" style="width: 90px;padding-right: 5px">合同协议编号</label>
                            <div class="layui-input-block">
                                <input type="text" name="contract_code" class="layui-input">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">项目名称</label>
                            <div class="layui-input-block">
                                <select name="project_name" lay-filter="select_project_drop_down">
                                    <option value=""></option>
                                    <option value="road_one" selected="">市一路</option>
                                    <option value="road_two" >市二路</option>
                                    <option value="road_three">市三路</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="layui-form-item">
                            <label class="layui-form-label">项目类别</label>
                            <div class="layui-input-block">
                                <input type="text" name="project_type" autocomplete="off" placeholder="请输入项目类别" class="layui-input">
                            </div>
                        </div>-->
                        <div class="layui-form-item">
                            <label class="layui-form-label">项目类别</label>
                            <div class="layui-input-block">
                                <select name="project_type" lay-filter="aihao">
                                    <option value=""></option>
                                    <option value="tech" selected="">技术</option>
                                    <option value="settle" >安置</option>
                                    <option value="extra">其他</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">甲方</label>
                            <div class="layui-input-block">
                                <input type="text" name="part_a" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">乙方</label>
                            <div class="layui-input-block">
                                <input type="text" name="part_b" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">开始日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="start_date" id="start_date" lay-verify="date" placeholder="请输入开始日期" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">结束日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="end_date" id="end_date" lay-verify="date" placeholder="请输入结束日期" autocomplete="off" class="layui-input">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="cost" placeholder="请输入金额" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">主办处意见</label>
                            <div class="layui-input-block">
                                <textarea name="organizer_advice" placeholder="请输入主办处意见" class="layui-textarea"></textarea>
                            </div>
                        </div>

                        <div class="layui-col-md12" style="margin: 10px; text-align: center;">
                            <div class="layui-col-md4">
                                <label class="layui-form-inline">拟定人</label>
                                <div class="layui-input-inline" style="width: 220px">
                                    <input type="text" name="created_person" lay-verify="created_person" autocomplete="off" placeholder="拟定人" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-col-md4">
                                <label class="layui-form-inline">核对人</label>
                                <div class="layui-input-inline" style="width: 220px">
                                    <input type="text" name="checked_person" lay-verify="checked_person" autocomplete="off" placeholder="核对人" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-col-md4">
                                <label class="layui-form-inline">签订日期</label>
                                <div class="layui-input-inline" style="width: 220px">
                                    <input type="text" name="sign_date" id="sign_date" lay-verify="date" autocomplete="off" placeholder="签订日期" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-form-item" style="text-align: center;">
                            <button class="layui-btn" lay-submit lay-filter="child-form-submit" >提交</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

</body>


<script src="/layui/layui.js"></script>
<script src="/scripts/es6-promise.min.js"></script>
<script type="text/javascript">
layui.use(['form', 'laydate'], function(){
    var form = layui.form;
    var layer = layui.layer;
    var laydate = layui.laydate;
    var $ = layui.$;

    //监听提交
    form.on('submit(child-form-submit)', function(data){

        $.ajax({
            type: "post",
            url: "/contract/createSubContract",
            dataType: "json",
            contentType: "application/json",
            async: false,
            data: JSON.stringify(data.field)
        }).then(function (res) {
            if (res.code !== 200) {
                layer.Notify.error(res.error_msg || '新增子合同失败!');
                return false;
            }

            layer.Notify.success('新增子合同成功!');
        });

        return false;
    });

    //日期
    laydate.render({
        elem: '#start_date'
    });
    laydate.render({
        elem: '#end_date'
    });
    laydate.render({
        elem: '#sign_date'
    });


});
</script>
</html>